.admin-table, .member-table {
  position: relative;
  top: 15vh;
  margin: 0 auto;
  margin-bottom: 20vh;
  width: 70%;
  font-size: 1.6rem;
}
.member-table {
  width: 40%;
}
 th {
  background-color: #E0E1E2;
  color: #383838;
  padding: 4px;
}
 th:last-of-type {
  text-align: center;
}
 tr:nth-child(even) {
  background: #F9FAFC;
}
#membership {
  text-align: center;
}
