/*body*/
.navbar {
  height:66px!important;
}
.site-footer {
    border-top-color: #d3e0e9;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 10px;

}
.navbar-brand {
  padding-bottom: 55px!important;
  margin-left: -85px!important;
}

.navbar-right {
  margin-top: 10px!important;
  margin-right: -65px!important
}

.navbar-toggle {
  margin-top: 15px!important;
}

.navbar-icons {
  float:right;
  margin-top: -2px!important;
  width:25px;
}

.header-logo {
  width:230px;
  height:37px;
}

a.circle-link {
  text-decoration:none!important;
}

hr.home-hr {
  border:none;
  background-color:#666666;
  width:50px;
  height:2px!important;
}

.join-orange {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    font-size: 2vw;
    color: #FF9000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #FFFFFF;
    -webkit-box-shadow: 3px 3px 8px 2px #DCDCDC;
    -moz-box-shadow: 3px 3px 8px 2px #DCDCDC;
    box-shadow: 3px 3px 8px 2px #DCDCDC;
}

a.join-orange {
  text-decoration:none!important;
}

.navbar {opacity: 0.8!important;}
.panel {border-color: #FFDD00!important; border-width: 12px; border-radius: 40px!important ;}
.panel-default-projects > .panel-heading-projects {
    border-width: 1; border-color: #ffDD00!important; border-radius: 40px!important; color: #22DDEE;
}

img.page-header {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border:none;
}




/*APPSTYLE.CSS*/

@font-face {font-family: 'Prompt', sans-serif;}
body{font-family: 'Prompt', sans-serif; font-size:14px; color:#555555; background-color:#ffffff}

.menu-item {font-size:12px;line-height:16px;}
.base {text-align:justify;font-size:16px;line-height:20px;}
.heading {text-align:justify;font-size:25px;line-height:30px;}
.subheading {text-align:justify;font-size:20px;line-height:25px;}
.maxi {text-align:justify;font-size:32px;line-height:40px;}
.equivalence {color: #FF9000;}
.trust {color: #FFDD00;}
.care {color: #88DD33;}
.transparency {color: #22DDEE;}
.freedom {color: #4488EE;}
.understanding {color: #AA66DD;}
.diversity {color: #FF77CC;}
.gray {color: #555555;}
.lightgray{color: #777777;}

@-webkit-keyframes rotating {
    from {     -webkit-transform: rotate(0deg);     -o-transform: rotate(0deg);     transform: rotate(0deg);   }
    to   {     -webkit-transform: rotate(360deg);   -o-transform: rotate(360deg);   transform: rotate(360deg); }
  }
  @keyframes rotating {
    from { -ms-transform: rotate(0deg);     -moz-transform: rotate(0deg);    -webkit-transform: rotate(0deg);    -o-transform: rotate(0deg);    transform: rotate(0deg);   }
    to   { -ms-transform: rotate(360deg);   -moz-transform: rotate(360deg);  -webkit-transform: rotate(360deg);  -o-transform: rotate(360deg);  transform: rotate(360deg); }
  }
  .rotating {   -webkit-animation: rotating 3s linear infinite;  -moz-animation: rotating 3s linear infinite;  -ms-animation: rotating 3s linear infinite;  -o-animation: rotating 3s linear infinite;   animation: rotating 3s linear infinite;
  }